

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>KarvonTrade</title>

    <link rel='stylesheet' href='~/res/styles/bootstrap.min.css'>

    <link rel='stylesheet' href='~/res/styles/font-awesome/css/font-awesome.min.css'>
    <styles>

    </styles>

    <script src='~/res/scripts/jquery.min.js'></script>
    <script src="~/res/scripts/Chart.bundle.js"></script>
    <script src='~/res/scripts/bootstrap.min.js'></script>
    <script src='~/res/chart.js'></script>
    <script type="text/javascript" src="~/js/jquery.qrcode.js"></script>
    <script type="text/javascript" src="~/js/qrcode.js"></script>
    <script type="text/javascript" src="~/js/scripts.js"></script>
    <script type="text/javascript" src="~/js/site.js"></script>
    <link href="~/res/main.css" rel="stylesheet">
    <link href="~/css/site.css" rel="stylesheet">
    <link href="~/css/class.css" rel="stylesheet">
    <script>
        window.console = window.console || function (t) { };
    </script>
    <script>
        if (document.location.search.match(/type=embed/gi)) {
            window.parent.postMessage("resize", "*");
        }
    </script>
</head>
<body translate="no">
    <body class="nav-md">
        <div class="container body">
            <div class="main_container">
                <div class="col-md-3 left_col">
                    <div class="left_col scroll-view">
                        <div class="navbar nav_title" style="border: 0;">
                            <a href="index.html" class="site_title"><i class="fa fa-dashboard"></i> <span>KarvonTrade</span></a>
                        </div>
                        <div class="clearfix"></div>



                        <br />

                        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                            <div class="menu_section">
                                <h3>General</h3>
                                <ul class="nav side-menu">
                                    <li>
                                        <a><i class="fa fa-home"></i> Home </a>

                                    </li>
                                    <li>
                                        <a><i class="fa fa-edit"></i> Manage <span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu">
                                            <li>
                                                <a asp-action="Insert">Add new</a>
                                            </li>
                                            <li><a href="form_advanced.html">History</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a asp-action="Products"><i class="fa fa-desktop"></i> Products <span class="fa fa-chevron-down"></span></a>
                                    </li>
                                    <li>
                                        <a asp-action="New"><i class="fa fa-table"></i> Confirm Sales <span class="fa fa-chevron-dow"></span></a>

                                    </li>
                                    <li>
                                        <a><i class="fa fa-bar-chart-o"></i>Statistcs<span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu">
                                            <li><a href="chartjs.html">Chart JS</a></li>
                                            <li><a href="chartjs2.html">Chart JS2</a></li>

                                        </ul>
                                    </li>

                                </ul>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="top_nav">
                    <div class="nav_menu">
                        <nav>
                            <div class="nav toggle">
                                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                            </div>
                        </nav>
                    </div>
                </div>

                <div class="right_col" role="main" style=" background: linear-gradient(to right, #f8d9b1, #ffd857);">

                    @RenderBody()

                </div>

            </div>
        </div>
    </body>

    <script id="rendered-js" src="~/res/scriptsChart.js"></script>
</body>
</html>
