

.img-container {
    width:30px;
}

    .img-container img {
        cursor: pointer;
        border-radius: 6px;
        width: 50%;
        box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.15), 0 10px 10px -5px rgba(0, 0, 0, 0.1) !important;
    }

.popupContainer {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    overflow: auto;
    display: flex;
    align-content: space-between;
    justify-content: space-around;
}

    .popupContainer .popUpBackground {
        transition: all 0.3s ease-in-out;
        position: fixed;
        left: 0;
        bottom: 0;
        right: 0;
        top: 0;
    }
.popUpBackground {

}
    .popupContainer .popUpBackground.active {
    background-color: rgba(0, 0, 0, 0.4);
}

    .popupContainer .popImage {
        position: relative;
        display: block;
        transition: all 0.3s ease-in-out;
        border-radius: 6px;
        box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.15), 0 10px 10px -5px rgba(0, 0, 0, 0.1);
    }
